name: Backend QA

on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - "backend/**"

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Run unit and integration tests
        uses: ./.github/actions/test
        with:
          service: backend
